*{
  background-color: rgb(245, 250, 245);
}

h1 {
  color: rgb(129, 169, 184);
  font-size: 30px;

}

.pselector  h1 {
 color : #7470a3ed;

}

.pselector p {
color : rgb(100, 106, 147);
font-size: 20px;

}

#rcorners1 {
  border-radius: 25px;
  padding: 20px;
  width: 300px;
  height: 10px;
  align-self: center
}

.centrebox {
 text-align: center;
}

.reactjsimg { text-align: center}
